<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2581096843-b32rk92uggbqdi4jqdr5ckjn9k26c19k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2581096843-b32rk92uggbqdi4jqdr5ckjn9k26c19k</string>
	<key>API_KEY</key>
	<string>AIzaSyC5KhL8Tty6_O3zaNyBgBbbnjCn70E6nto</string>
	<key>GCM_SENDER_ID</key>
	<string>2581096843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeWarriors</string>
	<key>PROJECT_ID</key>
	<string>code-warriors-54fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>code-warriors-54fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2581096843:ios:5ef28153b27c184bc4278e</string>
</dict>
</plist>